.landingLayout {
    height: calc( 100vh - 16px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landingItems {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.landingItems h1 {
    font-size: 4rem;
    color: #7D3467;
    text-align: center;
    vertical-align: middle ;
    margin: 0 0 20px 0;
}


.toHome {
    text-decoration: none;
    font-family: 'Lilita One', sans-serif;
    font-size: 1.7rem;
    color: white;
    padding: 15px 50px;
    background-color: #9CFFCE;
    box-shadow: 0px 4px 4px 0px rgba(125, 52, 103, 0.7);
    border-radius: 50px;
    outline: none;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    
}

.toHome:hover {
    background-color: white;
    color: #9CFFCE;
    transform: scale(1.15);
    
}

.dogLandingImg {
    margin-bottom: 0;
}

@media (max-width: 768px) {

    .dogLandingImg {
        width: 150px;
    }
    .landingItems {
        gap: 20px;
    }
}