.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-image: url("assets/background_detail.png");
  background-size: cover;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detailContainer {
  display: flex;
  width: 697px;
  height: 641px;
  padding: 20px 60px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 25px;
  background: rgba(125, 52, 103, 0.9);
  backdrop-filter: blur(2px);
}

.detailTitle {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: white;
  font-size: 22px;
}

.detailInfo {
  display: flex;
  padding-bottom: 0px;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
  align-self: stretch;
}

.dogName {
  color: #fff;
  font-family: Lilita One;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;
}



.dogId {
  color: #9cffce;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.detailImage {
  width: 500px;
  height: 375px;
  object-fit: cover;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  flex: 1 0 0;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  
}

.dataContainer h3 {
  color: #fff;
  font-family: Lilita One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.dataContainer p {
  color: #9cffce;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.closeButton {
  display: flex;
  text-decoration: none;
  /* width: 115px; */
  /* height: 35px; */
  flex-direction: column;
  justify-content: center;
  padding: 8px 38px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #FFF;
  background: #351147;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Lilita One', sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .background {
    width: calc( 100vw - 12px);
     background-size: cover;
     padding: 20px;
     
  }

  .detailContainer {
    width: auto;
    padding: 20px;
    height: auto;
  }

  .detailImage {
    width: 300px;
    height: 200px;
  }
  .detailInfo {
    flex-direction: column;
    width: auto;
    gap: 20px;
  }

  .dataContainer h3 {
    font-size: 20px;
  }

  .dataContainer p {
    font-size: 18px;
  }

  .dogName {
    font-size: 24px;
  }
  .dogId {
    font-size: 20px;
  }
  

}