.successMain {
  position: absolute;
  top: 85px;
  right: 20px;
  display: flex;
  width: 300px;
  height: 158px;
  padding: 40px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: rgba(177, 84, 225, 0.92);
  backdrop-filter: blur(4px);
  /* border: 0.5px solid rgba(106, 41, 138, 0.70); */
  box-shadow: 1px 6px 6px 0px rgba(106, 41, 138, 0.7);
  z-index: 1;
}

.successMain h2 {
  color: #fff;
  font-family: Lilita One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.successMain img {
  width: 63px;
  flex-shrink: 0;
}

.newDogLink {
  color: #9cffce;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
