.formContainer {
  position: absolute;
  top: 85px;
  right: 20px;
  display: flex;
  width: 362px;
  height: calc(100vh - 183px);
  padding: 40px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background: rgba(177, 84, 225, 0.92);
  backdrop-filter: blur(4px);
  /* border: 0.5px solid rgba(106, 41, 138, 0.70); */
  box-shadow: - 1px 6px 6px 0px rgba(106, 41, 138, 0.70);
  z-index: 1;
}

.formSection {
  display: flex;
  width: 100%;
  padding: 10px 0px 20px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  
}

.formInputs {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  align-self: stretch;
}

.inputArea {
  display: flex;
  height: 36px;
  width: 95%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* align-self: stretch; */
  border-radius: 50px;
  background: #fff;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 700;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0% 10px;
}



.inputNumber::-webkit-inner-spin-button,
  .inputNumber::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.rangeInputs {
  width: 100%;
}

.dropTemps {
  width: 100%; 
  height: 100px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  /* overflow: hidden;  */
  position: relative;
  font-family: Lato;

}

.dropTemps select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.dropTemps select:hover {
  background-color: #e0e0e0;
}

.dropTemps select:focus {
  outline: none;
}

.dropTemps::before {
  content: '';
  width: 8px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.instructions {
  font-family: Lato;
  font-size: 12px;
  color: white;
  
}


.rangeIndicator {
  font-family: Lato;
  font-size: 16px;
  width: 100%;
  text-align: center;
  color: #9cffce;
}

.inputNumber {
  display: flex;
  height: 36px;
  width: 95%;
  padding: 0 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* align-self: stretch; */
  border-radius: 50px;
  background: #fff;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  font-weight: 700;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.formTitle {
  color: #9cffce;
  font-family: Lilita One;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.inputLabels {
  color: #351147;
  font-family: Lilita One;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 8px;
}

.errorMessage {
  font-size: 12px;
  color: #FFC49C;
  font-family: Lato;
  font-weight: 300;
  margin-left: 10px;
  
}

.submitButton {
  display: flex;
  width: 115px;
  height: 35px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  margin-bottom: 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #9cffce;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Lilita One", sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 30px;
  cursor: pointer;
}
