.navBar {
    height: 95px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}

.navBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.navBrand h2 {
    color: #7D3467;
    font-size: 32px;
    margin: 0;
}

.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 24px;
}

.navLink {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.navLinkActive {
    color: #9cffce;
    text-decoration: none;
    font-size: 24px;
}

.formButton {
    color: white;
    background: none;
    border: none;
    font-family: Lilita One;
    font-size: 24px;
    cursor: pointer;
}

.formButtonActive {
    color: #9cffce;
    background: none;
    border: none;
    font-family: Lilita One;
    font-size: 24px;
    cursor: pointer;
}

.responsiveMenu {
    display: none;
}


@media (max-width: 768px) {
    .navItems {
        display: none;
    }

    .navBrand h2 {
        font-size: 1.5rem;
    }

    .navBrand {
        gap: 0;
    }

    .responsiveMenu {
        display: flex;
    }
}
