.mainContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}

.mainContainer h2 {
  margin: 0%;
  color: #9cffce;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cardContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 25px;
  background: #7d3467;
  text-decoration: none;
  transition: 0.3s, color 0.3s, transform 0.3s;
}
.card:hover {
  transform: scale(1.03);
}

.card h3 {
  color: white;
  font-weight: 300;
  font-size: 18px;
}

.imageContainer {
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
}

.cardImage {
  width: 150px;
  height: 100%;
  object-fit: cover;
}
.controlContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.buttonsArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.buttonsArea h4 {
  color: white;
  font-weight: 300;
}
.controlButtons {
  display: flex;
  width: 45px;
  height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #fff;
  background: #9cffce;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: "Lilita One", sans-serif;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.controlButtons:hover {
  background-color: white;
  color: #9cffce;
  transform: scale(1.15);
}

.controlContainer h3 {
  color: #7d3467;
  font-weight: 300;
  width: 16px;
  text-align: center;
}

.cardTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 7px;
}

.cardTextContainer * {
  margin: 0%;
}

.tempsTitle {
  color: #9cffce;
  opacity: 90%;
  font-weight: 300;
  margin-bottom: 7px;
}

.tempsItems {
  list-style-type: disc;
  padding-left: 20px;
}

.tempsItems li {
  color: white;
}

.weightData {
  color: #9cffce;
  opacity: 90%;
  font-weight: 300;
}

.weightData span {
  color: white;
  font-family: "Lato";
  font-size: 1rem;
}

.tempsItems li::marker {
  color: #9cffce;
}

@media (max-width: 768px) {
  /* Adjust styles for smaller screens here */
  .mainContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .mainContainer h2 {
    font-size: 28px;
  }

  .cardContainer {
    grid-template-columns: 1fr;
  }

  .card {
    width: auto;
  }

  .imageContainer {
    height: 120px;
  }

  .cardImage {
    width: 100%;
    height: 100%;
  }

  /* Adjust other styles as per your responsive design needs for smaller screens */
}
